/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --primary: #f6ba18;
  --accent: #2f2e41;
  --body: #404040;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.container {
  max-width: 1080px;
  padding: 0 1rem;
  margin: 0 auto;
} */
